.forecast__items {
    width: 100%;
    height: 100%;
    padding: 50px 10px 20px;
    display: flex;
    justify-content: space-between;
}

.forecast__designCurveDown {
    background-color: #351169;
    transform: translate(-4%, -138%);
    box-shadow: 0 0 5px #351169;
    border-radius: 62% 50%;
    content: '';
    display: block;
    position: absolute;
    width: 55%;
    height: 100%;
    bottom: 0;
    max-height: 100px;
    overflow: hidden;
}

.forecast__designCurveDown.isDay {
    background-color: aliceblue;
    box-shadow: 0 0 5px aliceblue;
}

.forecast__wrapper {
    height: 30%;
    background-color: #5419a7;
    position: relative;
}

.forecast__wrapper.isDay {
    background-color: rgb(251, 253, 255);
}