.form__input {
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    height: 59px;
    font-size: 2rem;
    margin-right: 15px;
}

.form {
    width: 60%;
    height: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    display: flex;
}

.form__submitBtn {
    width: 40%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(133, 133, 133);
    background-color: rgb(255, 238, 0);
    font-weight: 700;
    cursor: pointer;
    font-size: 2rem;
}

.form__submitBtn:hover {
    background-color: rgb(228, 213, 0);
}

.form__submitBtn:active {
    background-color: #fff;
}
