.fi__wrapper {
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(185, 185, 185);
    padding: 5px;
}

.fi__imgWrapper {
    width: 40px;
    height: 40px;
}

.fi__img {
    width: 100%;
    height: 100%;
}

.fi__date,
.fi__temp {
    font-size: 2rem;
}

.fi__desc {
    font-size: 1.5rem;
}